Source: golang-framestream
Section: net
Priority: optional
Maintainer: Farsight Security, Inc. <software@farsightsecurity.com>
Build-Depends:
 dh-golang,
 golang-any,
 debhelper-compat (= 13),
Standards-Version: 4.5.1
Homepage: https://github.com/farsightsec/golang-framestream
Vcs-Git: https://github.com/farsightsec/golang-framestream.git
Vcs-Browser: https://github.com/farsightsec/golang-framestream
XS-Go-Import-Path: github.com/farsightsec/golang-framestream

Package: golang-github-farsightsec-go-framestream-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Frame Streams implementation in Go
 Frame Streams is a lightweight, binary-clean protocol that allows
 for the transport of arbitrarily encoded data payload sequences with
 minimal framing overhead.
 .
 This provides the Golang development code of Frame Streams.
